@page "/category/edit/{id:int}"
@using D01K14BlazorServerApp.Data
@using MySql.Data.MySqlClient
@inject NavigationManager NavigationManager
<h3>Edit Category: @category.CatName</h3>
<div class="container">
	<div class="row">
		<div class="col-12">
			<EditForm Model="category" OnValidSubmit="HandleUpdateCatetory">
				<DataAnnotationsValidator />
				<div class="mb-3">
					<label class="form-label">Name</label>
					<InputText class="form-control" @bind-Value=category.CatName />
					<ValidationMessage For="() => category.CatName" />
				</div>
				<div class="mb-3">
					<label class="form-label">Status</label>
					<InputSelect @bind-Value=category.IsDeleted class="form-control">
						<option value="0" selected =@(category.IsDeleted==0)>Active</option>
						<option value="1" selected =@(category.IsDeleted==1)>Deleted</option>
					</InputSelect>
					<ValidationMessage For="() => category.IsDeleted" />
				</div>
				<div class="mb-3">
					<Button Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
				</div>
			</EditForm>
		</div>
	</div>
</div>
@code {
	[Parameter]
	public int id { get; set; }

	protected Category category = new Category();

	protected override void OnParametersSet()
	{
		if(id != 0)
		{
			category = GetCategory();
		}
	}

	private Category GetCategory()
	{
		Category c = new Category();
		try
		{
			string SqlGetCategory = $"SELECT * FROM category WHERE cat_id = {id}";
			MySqlConnection conn = DBMySQLUltils.GetMySqlConnection();
			conn.Open();
			MySqlCommand cmd = conn.CreateCommand();
			cmd.CommandText = SqlGetCategory;
			MySqlDataReader reader = cmd.ExecuteReader();
			if(reader.Read())
			{
				c.CatId = reader.GetInt32("cat_id");
				c.CatName = reader.GetString("cat_name");
				c.IsDeleted = reader.GetInt32("isDeleted");
			}
			conn.Close();
		}catch(Exception ex)
		{

		}
		return c;
	}

	private void HandleUpdateCatetory()
	{
		string CatName = category.CatName;
		int IsDeleted = category.IsDeleted;
		try
		{
			string SqlUpdateCategory = $"UPDATE category SET cat_name='{CatName}', isDeleted={IsDeleted} WHERE cat_id={id}";
			MySqlConnection conn = DBMySQLUltils.GetMySqlConnection();
			conn.Open();
			MySqlCommand cmd = conn.CreateCommand();
			cmd.CommandText = SqlUpdateCategory;
			cmd.ExecuteNonQuery();
			conn.Close();
			NavigationManager.NavigateTo("/category/list");
		}
		catch (Exception ex)
		{

		}
	}
}
