@page "/category/create"
@using D01K14BlazorServerApp.Data
@using MySql.Data.MySqlClient
@inject NavigationManager NavigationManager
<h3>Category A New Create</h3>
<div class="container">
	<div class="row">
		<div class="col-12">
			<EditForm Model="category" OnValidSubmit="HandleCreateCatetory">
				<DataAnnotationsValidator />
				<div class="mb-3">
					<label class="form-label">Name</label>
					<InputText class="form-control" @bind-Value=category.CatName />
					<ValidationMessage For="() => category.CatName" />
				</div>
				<div class="mb-3">
					<label class="form-label">Status</label>
					<InputSelect @bind-Value=category.IsDeleted class="form-control">
						<option value="0">Active</option>
						<option value="1">Deleted</option>
					</InputSelect>
					<ValidationMessage For="() => category.IsDeleted" />
				</div>
				<div class="mb-3">
					<Button Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
				</div>
			</EditForm>
		</div>
	</div>
</div>
@code {
	protected Category category = new Category();
	private void HandleCreateCatetory()
	{
		string CatName = category.CatName;
		int IsDeleted = category.IsDeleted;
		try
		{
			string SqlInsertCategory = $"INSERT INTO category (cat_name, isDeleted) VALUES ('{CatName}', {IsDeleted})";
			MySqlConnection conn = DBMySQLUltils.GetMySqlConnection();
			conn.Open();
			MySqlCommand cmd = conn.CreateCommand();
			cmd.CommandText = SqlInsertCategory;
			cmd.ExecuteNonQuery();
			conn.Close();
			NavigationManager.NavigateTo("/category/list");
		}catch(Exception ex)
		{
			
		}
	}
}
